body {
  font-family: Courier, sans-serif;
  font-style: normal;
  color: brown;
  background: url("images/carrot.jpg");
  background-color: #b39283;
  background-repeat: repeat;
  height: 300px; }
  body img {
    width: 30%; }
